{% liquid
  assign show_benefits = metaobject.publicly_available | default: false
  assign visit_url = metaobject.link

  assign utm_params_benefit = 'utm_source=shopdev-alliance&utm_medium=referral&utm_campaign=member-benefit'
  assign benefit_link_url = ''
  if visit_url != blank
    if visit_url.value contains '?'
      assign benefit_link_url = visit_url.value | append: '&' | append: utm_params_benefit
    else
      assign benefit_link_url = visit_url.value | append: '?' | append: utm_params_benefit
    endif
  endif
%}

<section id="profile-page" class="page-width benefits-page">
  <div class="profile-container">
    <div class="profile-left">
      <div class="profile-left--container">
        {% unless metaobject.logo == blank %}
          <div class="profile-left--image">
            {{ metaobject.logo.value | image_url: width: 350 | image_tag: widths: '350, 500, 650', sizes: '(max-width: 650px) 350px' }}
          </div>
        {% endunless %}
        <div class="profile-left--info">
          <h1 class="profile-left--name">{{ metaobject.name.value }}</h1>
          {% unless metaobject.type == blank %}
            <p class="profile-left--tag">{{ metaobject.type.value }}</p>
          {% endunless %}
        </div>
        <div class="profile-left--socials">
          <ul class="list-unstyled">
            {% unless visit_url == blank %}
              <div class="profile-left--cta">
                <a class="button button--primary" href="{{ benefit_link_url }}">Learn More</a>
              </div>
            {% endunless %}
            {% unless metaobject.twitter == blank %}
              <li class="list-social__item">
                <a class="link list-social__link" href="{{ metaobject.twitter.value }}">{% render 'icon-twitter' %}
                  <span class="visually-hidden">Twitter</span>
                </a>
              </li>
            {% endunless %}
            {% unless metaobject.linked_in == blank %}
              <li class="list-social__item">
                <a class="link list-social__link" href="{{ metaobject.linked_in.value }}">{% render 'icon-linkedin' %}
                  <span class="visually-hidden">LinkedIn</span>
                </a>
              </li>
            {% endunless %}
            {% unless metaobject.github == blank %}
              <li class="list-social__item">
                <a class="link list-social__link" href="{{ metaobject.github.value }}">{% render 'icon-github' %}
                  <span class="visually-hidden">Github</span>
                </a>
              </li>
            {% endunless %}
            {% unless metaobject.you_tube == blank %}
              <li class="list-social__item">
                <a class="link list-social__link" href="{{ metaobject.you_tube.value }}">{% render 'icon-youtube' %}
                  <span class="visually-hidden">YouTube</span>
                </a>
              </li>
            {% endunless %}
          </ul>
        </div>
      </div>
    </div>
    <div class="profile-right">
      {% liquid
        assign description_classes = 'profile-right--bio'
        if metaobject.page_description == blank
          assign description_classes = description_classes | append: ' description--empty'
        endif
      %}
      <div class="{{ description_classes }}">
        <h2>About</h2>
        {{ metaobject.page_description | metafield_tag }}
      </div>
      {% unless metaobject.description == blank %}
        <h3>Member Benefits</h3>
        {% if show_benefits %}
          {{ metaobject.description | metafield_tag }}
        {% else %}
          <p>Benefit details only available within ShopDev Alliance Slack.</p>
        {% endif %}
      {% endunless %}
      {% unless metaobject.member == blank %}
        {% liquid
          assign member_info = metaobject.member.value
          assign member_url = member_info.system.url
        %}
        <h3>From Member</h3>
        <div class="member-card-small">
          {% if member_info.profile_photo != blank %}
            <div class="benefits-small-round">
              <a href="{{ member_url }}">
                {{ member_info.profile_photo.value | image_url: width: 200 | image_tag: 
                  widths: '150, 250, 350',
                  sizes: 'max-width: 350px) 200px',
                  class: 'benefits-small-round',
                  alt: member_info.name.value
                }}
              </a>
            </div>
          {% endif %}
          <div>
            <h4>{{ member_info.name.value }}</h4>
            {% unless member_info.tagline == blank %}
              <p>{{ member_info.tagline.value }}</p>
            {% endunless %}
          </div>
        </div>
      {% endunless %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Member Benefits",
    "settings": [],
    "presets": [
      {
        "name": "Member Benefits",
        "settings": {}
      }
    ]
  }
{% endschema %}
